* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fondo {
    background-color: #fab925;
    font-family: "Times New Roman", Times, serif;
  }
  .navBar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    list-style: none;
  }
  .navBar img {
    height: 40px;
    width: 40px;
    /* margin: 10px; */
  }
  .navBar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .marginDerecha {
    margin-right: 20px;
  }
  .boton {
    border-radius: 40px;
  }
  .botonIniciarSesion {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: block;
    float: right;
    right: 100px;
    background-color: #ec6464;
    border-radius: 100px;
  }
  .titulo{
    margin: 30px 40px;
  }
  .banner{
    margin-left: 40px;
    width: 95%;
    border-radius: 50px;
  }
  .contactanos{
    margin: 20px 40px;
  }
  .contactanos h1{
    margin-bottom: 10px;
  }
  .contactanos h3{
    margin-bottom: 40px;
  }