*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: blue;
}
nav{
  background-color: white;
}
img{
  margin: 20px 20px 20px 40px;
}
.container-fluid{
  display: flex;
  justify-content: right;
}