*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fab925;
}
nav{
  background-color: white;
}
img{
  margin: 20px 20px 20px 40px;
}
.titulo h1{
  margin: 40px;
}
.buscador{
  background-color: #ec6464;
    width: 30%;
    margin-left: 40px;
    border-radius: 20px;
}
.form-check{
  margin: 40px 20px;
}
.label{
  font-size: 50px;
}
.boton{
  display: flex;
  justify-content: right;
  margin: 40px;
}